body {
  font-family: cursive;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  background-color: #d3b5aa;
  color: blueviolet;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

img{
  margin-top: 10px;
  border-radius: 50%;
}
